.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
html,
body {
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
  background: #000;
}
#mainbody {
  overflow: hidden;
  background: url('../img/wall.jpg') center no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.scene {
  width: 100%;
  height: 100%;
  display: none;
}
.vertical-center {
  height: 100%;
  width: 100%;
  display: table;
}
.vertical-center .vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
}
#scene-1 {
  text-align: center;
  text-transform: uppercase;
  color: #26D7ED;
}
#scene-1 p {
  visibility: hidden;
}
#scene-1 .text-1 {
  font-size: 38px;
  margin-top: 0px;
}
#scene-1 .text-2 {
  font-size: 80px;
}
#scene-1 .text-3 {
  font-size: 56px;
}
#scene-1 .text-4 {
  font-size: 57px;
}
#scene-1 .text-5 {
  font-size: 40px;
  margin-top: 5px;
}
#scene-1 .text-6 {
  font-size: 80px;
  color: #26ED74;
}
#scene-1 .text-7 {
  font-size: 20px;
  margin-top: 70px;
  color: #E0C714;
}
#scene-1 .text-8 {
  font-size: 20px;
  color: #E0C714;
}
#scene-2 {
  text-align: center;
}
#scene-2 .hashtag {
  font-size: 40px;
  margin: 0 0 10px;
  color: #26D7ED;
  display: none;
}
#scene-2 .instagram {
  width: 80px;
  display: block;
  margin: 5px auto 0;
}
#scene-2 #grid {
  width: 80%;
  margin: 0 auto;
  perspective: 1000px;
}
#scene-2 #grid img {
  width: 250px;
  height: 250px;
  margin: 8px;
  opacity: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}