
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		}
	&:after {
		clear: both;
		}
	}
	
.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	}

html, body {
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	background: #000;
	}

#mainbody {
	overflow: hidden;
	background: url('../img/wall.jpg') center no-repeat;
	background-size: cover;
	margin: 0 auto;
	}

.scene {
	width: 100%;
	height: 100%;
	display: none;
	}

.vertical-center {
	height: 100%;
	width: 100%;
	display: table;
	.vertical-center-inner {
		display: table-cell;
		vertical-align: middle;
		}
	}

#scene-1 {
	text-align: center;
	text-transform: uppercase;
	color: #26D7ED;
	p {
		visibility: hidden;
		}
	.text-1 {
		font-size: 38px;
		margin-top: 0px;
		}
	.text-2 {
		font-size: 80px;
		}
	.text-3 {
		font-size: 56px;
		}
	.text-4 {
		font-size: 57px;
		}
	.text-5 {
		font-size: 40px;
		margin-top: 5px;
		}
	.text-6 {
		font-size: 80px;
		color: #26ED74;
		}
	.text-7 {
		font-size: 20px;
		margin-top: 70px;
		color: #E0C714;
		}
	.text-8 {
		font-size: 20px;
		color: #E0C714;
		}
	}

#scene-2 {
	text-align: center;
	.hashtag {
		font-size: 40px;
		margin: 0 0 10px;
		color: #26D7ED;
		display: none;
		}
	.instagram {
		width: 80px;
		display: block;
		margin: 5px auto 0;
		}
	#grid {
		width: 80%;
		margin: 0 auto;
		perspective: 1000px; /*For 3d*/
		img {
			width: 250px;
			height: 250px;
			margin: 8px;
			opacity:0;
			.border-radius(20px);
			}
		}
	}

