.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
html,
body {
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
  background: #000;
}
#mainbody {
  overflow: hidden;
  background: url('../img/main-bg-2.jpg');
  background-size: 100% 100%;
  margin: 0 auto;
}
.scene {
  width: 100%;
  height: 100%;
  display: none;
}
.vertical-center {
  height: 100%;
  width: 100%;
  display: table;
}
.vertical-center .vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
}
#scene-1 .text-1 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
#scene-2 .text-1,
#scene-2 .text-3 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}
#scene-2 .text-2 {
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
}
#scene-2 .text-2 img {
  height: 75px;
  margin: 0 3px 0 7px;
}
#scene-3 .right {
  width: 50%;
  margin: 50px auto 0;
  text-align: center;
}
#scene-3 .text-1 {
  font-size: 40px;
  margin: 12% 0 0 0;
  text-align: center;
  text-transform: uppercase;
}
#scene-3 .text-1 span {
	color: #F9D10A;
}
#scene-3 .phone {
  width: 60%;
}
#scene-3 .hand {
  margin: -70% 0 0 30%;
  width: 40%;
  display: none;
}
#scene-5 .text-1,
#scene-5 .text-2,
#scene-5 .text-4 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}
#scene-5 .text-3 {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}
#scene-6 .text-1 {
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
}
#scene-6 .text-2 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
#scene-6 #player-photos {
  width: 90%;
  margin: 20px auto;
  visibility: hidden;
}
#scene-6 #player-photos ul {
  width: 100%;
  text-align: center;
}
#scene-6 #player-photos ul li {
  background: #000;
  text-align: center;
  display: inline-block;
  margin: 5px;
}
#scene-6 #player-photos ul li span {
  width: 180px;
  height: 170px;
  display: block;
  background: center;
  background-size: cover;
}
#scene-6 #player-photos ul .helper {
  width: 100%;
  display: inline-block;
}